<%- partial('partial/nav-header') %>
<header class="main-header">
    <div class="main-header__background"></div>
    <h1 class="main-header__title" itemprop="name">
        <%- page.tag %></h1>
</header>