<%- partial('partial/post/header') %>
<main class="main-content">
    <div 
        class="main-content__container markdown" 
        itemprop="articleBody">
        <%- page.content %></div>
    <%- partial('partial/post/footer') %>
</main>