<% if(config.comments.show) { %>
<div id="fb-root"></div>
<div class="fb-comments" data-colorscheme="dark" data-order-by="reverse_time" data-href="<%- config.url %>/<%- page.lang %>/<%- url_data(page.categories) %>/<%- url_title(page.title) %>" data-numposts="1"></div>
<% } %>