<header class="main-header">
    <div class="main-header__background"></div>
    <h1 
        class="main-header__title">
        <%- title %></h1>
    <p class="main-header__description">
        <%- description %></p>
</header>