@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import './highlight.css';
@import './variables.css';
* {
  color: var(--color_primaryLight);
  margin: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', 'Open Sans', Arial, Helvetica;
}

body {
  background-color: var(--color_secondaryDark);
}

.contact__link {
  color: var(--color_secondaryLight);
}

.divisor {
  text-align: center;
  width: 100%;
}
.divisor::before,
.divisor::after {
  background: currentColor;
  content: '';
  display: inline-block;
  margin: 10px 10px;
  height: 2px;
  width: 80px;
  vertical-align: middle;
}

.main-content {
  background-color: var(--color_secondaryDark);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 65vh;
}

.main-content__container {
  width: 45%;
}

.main-footer {
  align-items: center;
  color: var(--color_primaryAcent);
  display: flex;
  justify-content: space-around;
  height: 3vh;
}

.navbar {
  background-color: var(--color_primaryLight);
  height: 3.5vh;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  transition: all 0.4s ease-in;
  width: 100vw;
  z-index: 1;
}
.navbar.invisible {
  background-color: var(--color_transparent);
  top: -7vh;
}
.navbar.clear {
  background-color: var(--color_transparent);
}
.navbar__title {
  color: var(--color_secondaryDark);
  font-size: 1.8em;
  transition: all 0.4s ease-in;
  vertical-align: middle;
  font-weight: bold;
}

.clear .navbar__title {
  color: var(--color_primaryLight);
}

.main-header {
  align-items: center;
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
}

.main-header__title {
  font-size: 4.5em;
  font-weight: bold;
}

.main-header__background {
  background-attachment: fixed;
  background-image: var(--image_header);
  background-size: contain;

  -webkit-filter: blur(10px) contrast(150%) saturate(50%);
  -moz-filter: blur(10px) contrast(150%) saturate(50%);
  -o-filter: blur(10px) contrast(150%) saturate(50%);
  -ms-filter: blur(10px) contrast(150%) saturate(50%);
  filter: blur(10px) contrast(150%) saturate(50%);

  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.main-header__container__description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.posts__container {
  margin-top: 55px;
  max-height: 285px;
  min-height: 5vh;
  overflow-y: scroll;
  text-align: center;
  margin-left: 17px;
}

.posts__head {
  border-bottom: 1px solid;
  position: absolute;
  right: 30%;
  left: 30%;
  height: 50px;
}
.posts__head__title {
  background-color: var(--color_primaryAcent);
  padding: 5px 10px;
  display: inline-block;
}
.posts__head__title:hover {
  transition-delay: 0.4s;
  font-size: 1.5em;
  opacity: 0.8;
  animation: bounce 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: bounce 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: bounce 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.posts {
  padding: 15px 0;
  position: relative;
  text-align: center;
  margin: 0 auto;
  flex-basis: 33.3%;
}
.posts__post {
  align-items: center;
  border: 1px solid;
  border-radius: 3.5px;
  display: flex;
  margin: 0 auto 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  font-size: 0.8em;
  padding: 10px;
  transition: border-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.posts__post:hover {
  border-color: var(--color_primaryAcent);
}
.posts__post__title {
  font-size: 2em;
  width: 100%;
}
.posts__post__day,
.posts__post__category {
  color: var(--color_secondaryMiddle);
  width: 50%;
}
.posts__link {
  display: inline-block;
  margin: 10px 0;
  font-size: 1.5em;
  width: 100%;
  transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.posts__link:hover {
  color: var(--color_primaryAcent);
}

.tags {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tags__container {
  line-height: 33px;
  margin: 0 auto;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 45%;
  white-space: nowrap;
}

.tags__tag {
  background-color: var(--color_primaryAcent);
  padding: 5px 10px;
  border-radius: 50px;
}

@keyframes bounce {
  from {
    font-size: 1;
    opacity: 1;
  }
  to {
    font-size: 1.5em;
    opacity: 0.8;
  }
}

@-moz-keyframes bounce {
  from {
    font-size: 1;
    opacity: 1;
  }
  to {
    font-size: 1.5em;
    opacity: 0.8;
  }
}

@-webkit-keyframes bounce {
  from {
    font-size: 1;
    opacity: 1;
  }
  to {
    font-size: 1.5em;
    opacity: 0.8;
  }
}
@media screen and (max-width: 1280px) {
  .posts-lasts__post {
    width: 60%;
  }
}
@media screen and (max-width: 720px) {
  .posts-lasts__post {
    width: 85%;
  }
  .main-header {
    height: 20vh;
  }
  .divisor {
    margin: 20px 0;
  }
  .posts {
    width: 100%;
  }
  .main-content {
    height: initial;
  }
  .posts__container {
    max-height: 25vh;
  }
}

@media screen and (max-width: 480px) {
  .main-footer {
    flex-wrap: wrap;
    justify-content: center;
    height: 10vh;
  }
  .contact {
    width: 100%;
    text-align: center;
  }
}
