<section>
        <%- date('2018-03-04T20:39:28.636Z', 'D MMM YYYY - H[h] m[m]') %>
        <%- console.log(site.data) %>
    <% for (var comment in site.data.comments) { %>
        <%- date('Sun Mar 04 2018 17:39:27 GMT-0300 (E. South America Standard Time)', 'D MMM YYYY - H[h] m[m]') %>
    <% } %>
</section>